/* === PADRAO ===

*{
    color: aliceblue;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;  
}}


*/

/*
Decidi deixar por padrão aqui as diferenças pra não ter que procurar toda vez. Sempre ter que abrir o 
resumo fica cansativo

Se for a TAG pura: escreve o nome direto --> h2 { ... } 

Se no HTML tiver class="nome": usa PONTO no CSS --> .nome { ... } 

Se no HTML tiver id="nome": usa HASHTAG no CSS --> #nome{ ... }

*/

*{
    color: aliceblue;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;  
}

header{
    background-color: rgb(21, 21, 21);
    /* color: aliceblue --> Lembrar de por dps*/
    
}


nav ul{
    display:flex; /*ativa um "campo de força" que te dá o poder de controlar como os Filhos vão se comportar lá dentro.*/
                /* Por padrão, as tags <div> ficam uma embaixo da outra (comportamento de bloco), 
                mas dps do display:flex, elas ficam uma do lado da outra (comportamento de linha).*/
    justify-content: center; /*Há outros comandos além de "center" mas que não são tão relevantes para agora*/
    /* Aqui deu pra entender que centraliza, ok*/
    /* align-items: center; Centraliza na vertical */
    gap: 30px; 
    list-style:none; /* muda a estética dos pontos do lado de listas*/
    margin:0px auto; /* centraliza a lista horizontalmente */
    padding:30px;
    border-bottom: 2px solid rgb(217, 177, 0);
}
/* tela do dispositivo | margin | border | padding | (texto/imagem) */


nav ul li{
    padding: 0 30px;

}

nav ul li a{
    text-decoration: none; /* retira o sublinhado do link */
}

/* hover: espefica funções ao "passar o mouse no local */
#menu li a:hover{
/* OBS.: Aprender mais sobre hierarquia de tags */    
    color:rgb(217, 177, 0);
}

#btn-contato button{
    
    background-color: rgb(21, 21, 21);
    color: rgb(217, 177, 0);
}


body{
    background-color: rgb(50, 50, 50);
}